.checkbox-container {
  bottom: 10px;
  margin: 0 auto;
  text-align: center;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.container h1 {
  font-size: 20px;
  font-weight: normal;
}

.container .checkbox-input {
  height: 0;
  width: 0;
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  height: 25px;
  width: 25px;
  position: absolute;
  top: 0;
  left: 0;
  float: right;
  background-color: #eee;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #2196f3;
}

.checkmark:after {
  content: "";
  display: none;
  position: absolute;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  width: 5px;
  height: 10px;
  left: 10px;
  top: 7px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
