.password-settings {
  max-width: 800px;
  margin: -10px auto 15px;
  padding: 25px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  background-color: white;

  h3 {
    font-size: 18px;
    font-weight: normal;
  }

  .btn-password {
    font-weight: 600;
    color: white;
    background-color: #4aa1f3;
  }
}
